.main {
    border: solid 1px lightgray;
    border-radius: 5px;
    background-color: white;
    margin: 5px;
    padding: 5px;
}

.item {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    color: white;
}

.stage {
    font-size: 12px;
}

.day1 {
    color: #ff89c4;
    font-size: 24px;
    align-self: center;
}
.day2 {
    color: #5bbbd8;
    font-size: 24px;
    align-self: center;
}
.day3 {
    color: #89c76c;
    font-size: 24px;
    align-self: center;
}
