body {
    background-color: rgba(128, 255, 212, 0.5);
    margin: 0;
}

input[type='radio'] {
    display: none;
}

.main {
    position: relative;
    margin-bottom: 60px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.days {
    height: 100%;
    font-size: 26px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 0;
    z-index: 110;
}

.day {
    flex: 1;
    height: calc(100% - 10px);
    text-align: center;
    border: solid 1px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    border-radius: 12px;
}

.setting {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.mode {
    flex: 1;
    height: calc(100% - 10px);
    text-align: center;
    border: solid 1px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: black;
    border-radius: 12px;
    background-color: lightgray;
}

.screenshot {
    width: 60px;
    height: 100%;
    border-radius: 12px;
}

.stages {
    display: flex;
    overflow-x: scroll;
}

.stage {
    flex: 1;
    min-width: 170px;
    border: solid 1px lightgray;
    height: 3570px;
    position: relative;
}

.header {
    height: 50px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
